@import "../../../App.scss";

.about-mission {
    width: 100%;
    padding: 20px;
    margin-top: 150px;

    .info-box {
        max-width: 1340px;
        margin: 0 auto;
        padding: 20px;
        background-color: $primary-color;

        .mission-title {
            text-align: left;
            margin-bottom: 40px;

            .overlap-group {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                .icon-mission {
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                }

                .text-mission {
                    font-family: "Poppins-Black", Helvetica;
                    font-size: 2.5rem;
                    font-weight: 900;
                    color: $third-color;
                }
            }
        }

        .content-overlap {
            display: flex;
            justify-content: space-between;

            .content-group-wrapper {
                flex: 1;
                margin: 10px;
                text-align: left;
                background-color: lighten($primary-color, 20%);
                padding: 20px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
                transition: background-color 0.3s ease, transform 0.3s ease;

                &:hover {
                    background-color: #89A3B2;
                    transform: scale(1.05);

                    .content-inner {

                        .title,
                        .description {
                            color: white !important;
                            /* Ensure the color changes to white */
                        }

                        .icon {
                            img {
                                filter: brightness(0) invert(1);
                                /* Make the icon white */
                            }
                        }
                    }
                }

                .content-group {
                    .background-rectangle {
                        padding: 20px;
                        margin-bottom: 20px;
                        border-radius: 0;
                    }

                    .content-inner {
                        .title {
                            font-family: "Poppins-Black", Helvetica;
                            font-size: 1.5rem;
                            color: $third-color;
                            margin-bottom: 10px;
                            transition: color 0.3s ease;
                        }

                        .description {
                            font-family: "Poppins-Regular", Helvetica;
                            font-size: 1rem;
                            color: $third-color;
                            margin-bottom: 20px;
                            transition: color 0.3s ease;
                        }

                        .icon {
                            width: 80px;
                            height: 80px;
                            padding: 10px;
                            margin-bottom: 20px;
                            transition: transform 0.3s ease;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: filter 0.3s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}