@import "../../../App.scss";

.info-box-container {
    height: 350px;
    position: absolute;
    width: 100%;
    max-width: 1282px;
    margin: 0 auto;
    bottom: -190px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding-bottom: 80px;

    .info-box {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        background-color: #ffffff;
        overflow: hidden;


        .info-box-item-1,
        .info-box-item-3 {
            background-color: $third-color;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start; 
            padding: 20px;
            color: white;
            padding-top: 2rem;
        }

        .info-box-item-2 {
            background-color: $secondary-color;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start; 
            padding: 20px;
            color: white;
            padding-top: 2rem;
        }

        .info-box-content {
            max-width: 374px;
            text-align: left; 
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .info-box-title {
                color: #ffffff;
                font-family: "Poppins-Black", Helvetica, sans-serif;
                font-size: 22px;
                font-weight: 900;
                letter-spacing: 1.54px;
                margin-bottom: 20px;
            }

            .info-box-description {
                color: $primary-color;
                font-family: "Poppins-Regular", Helvetica, sans-serif;
                font-size: 17px;
                font-weight: 400;
                margin-bottom: 20px;
            }

            .info-box-icon {
                margin-top: 20px;
                align-self: flex-start; /* Aligns the icon to the start (left) */

                img {
                    width: 45px;
                    height: auto;
                }
            }
        }
    }
}
